*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Poppins', serif;
	background-color: #fff;
	font-weight: 400;
	font-style: normal;
	font-size: 15px;
	line-height: 1.7em;
	color: #333;
}

/* main header-saifuk */
.site-header {
	background: #404040;
  }
  .site-title a {
    font-size: 20px;
    margin-top: 43px;
}
.site-branding {

    margin-top: 25px;

}
  
  .site-branding a {
	color: #fff !important;
	font-weight: 703;
  }
  .main-navigation {
    justify-content: flex-end;
    margin-left: 178px;
}
  .main-navigation li {

    padding: 10px 11px;
}



.main-navigation li a {
    color: #fff;
    list-style: none;
    font-size: 20px;
}

.main-navigation li a:hover {
    color: tomato;
}

.site-footer {
	background: #333;
	padding: 25px 0;
	text-align: center;
  }
  .site-footer p {
	color: #fff;
	margin-top: 0 5px
  }
  .site-footer a {
	color: #fff !important;
	padding: 8px 8px;
	font-size: 26px;
	margin-top: 10px 15px;
  }

  /* 1. Section Title CSS */

.section-title h4 {
	font-size: 16px;
	font-weight: 600;
	color: #777;
}
.section-title h2 {
	font-size: 32px;
	text-transform: capitalize;
	margin: 15px 0;
	display: inline-block;
	position: relative;
	font-weight: 700;
	padding-bottom: 15px;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.section-title p {
	font-weight: 300;
	font-size: 14px;
}
.black-bg .section-title h2, .black-bg .section-title h4, .black-bg .section-title p {
  color:#fff
}
.section-title h2:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 1px;
  background-color: #777;
  bottom: 0;
  left: 50%;
  margin-left: -75px;
}
.section-title h2:after {
  position: absolute;
  content: "";
  width: 80px;
  height: 3px;
  background-color: #e16038;
  border: darkblue;
  bottom: -1px;
  left: 50%;
  margin-left: -40px;
}
.section-title {
  margin-bottom: 70px; 
  text-align: center;  
  }
  .single-about i {
    font-size: 25px;
  }
  .single-about h4 {
      margin: 20px 0;
      font-weight: 500;
      text-transform: capitalize;
      font-size: 22px;
  }
  .single-about a {
    text-transform: capitalize;
    margin-top: 10px;
    display: block;
    color: tomato;
  }
  .single-about i {
      font-size: 36px;
  }
  
  .about-text h4 {
    text-transform: capitalize;
    font-size: 28px;
    margin-bottom: 10px;
    font-weight: 700;
  }
  .about-text p {
    margin-bottom: 5px;
  }
  .about-text ul{
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: left;
    width: 50%;
    margin: 15px 0;
  }
  .about-text ul li {
      margin-bottom: 10px;
      color: #646f79;
      font-size:14px;
  }
  .about-text ul li, .single-feature ul li {
      margin-bottom: 10px;
      color: #646f79;
      font-size:14px;
  }
  .about-text ul li i, .single-feature ul li i {
    padding-right: 5px;
    color:#646f79
  }
  .about-text a{
    margin-top: 20px;
  }
  
  .about-img img {
    width: 100%;
  }
  .about-img {
    position: relative;
    z-index: 2;
  }
  .about-img:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: tomato;
    z-index: -1;
    right: -10px;
    bottom: -10px;
  }
  
  /* 5. Features Area CSS */
  
  .single-feature ul {
    list-style: none;
    margin: 0;
    padding-left: 0;
    float: left;
    width: 50%;
    margin: 15px 0;
  }
  .features {
    position: relative;
    background-color: #f8f9fa;
  }
  .features-1::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      background-image: url("../img/feature-1.jpg");
      right: 0;
      top: 0;
      background-size: cover;
      background-position: center;
  }
  .features-2::before {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      background-image: url("../img/feature-2.jpg");
      left: 0;
      top: 0;
      background-size: cover;
      background-position: center;
  }
  .features-1 {
    position: relative;
  }
  .single-feature {
      padding: 100px;
      overflow: hidden;
  }
  .single-feature h4 {
      text-transform: uppercase;
      font-size: 34px;
      position: relative;
      margin-bottom: 20px;
      padding-bottom: 20px;
      font-weight: 700;
  }
  .single-feature h4:before {
    position: absolute;
    content: "";
    width: 40px;
    height: 2px;
    background-color: tomato;
    bottom: 0;
    left: 50%;
    margin-left: -20px;
  }
  .single-feature p {
    margin-bottom: 20px;
  }
  .features-1::after {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      right: 0;
      top: 0;
      background-color: #333;
      opacity: .8;
  }
  .features-2::after {
      position: absolute;
      content: "";
      width: 50%;
      height: 100%;
      left: 0;
      top: 0;
      background-color: #333;
      opacity: .8;
  }
  .single-feature h6 {
      color: #777;
      text-transform: lowercase;
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 10px;
  }
  .feature-box h5 {
      font-size: 22px;
      text-transform: capitalize;
      font-weight: 600;
      margin: 15px 0;
  }
  .feature-box {
    text-align: left;
    margin: 25px 0;
  }
  .feature-box i {
    font-size: 25px;
  }
  .single-feature a.box-btn {
      margin-top: 30px;
  }
  